.table-container {
  padding: 10px 15px;
  border-radius: 20px;
  background: #ffffff;
  width: 100%;
  overflow: scroll;
}

table {
  border-collapse: collapse;
  width: 100%;
  position: relative;
}

.thead {
  padding: 15px 10px;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  /* background-color: red  ; */
  color: #4B4D52;
}
th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
tr:hover {
  background: #f9f9f9;
  cursor: pointer;
}
td {
  padding: 5px 10px;
  text-align: left;
  border-bottom: 1px solid #ced0d6;
  color: #4b4d52;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}
.table-head {
  /* margin: 10px 20px; */
  border-radius: 12px;
  background: #f9f9f9;
  border: none;
}
.status-tab {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  padding: 0;
  flex-shrink: 1;
  margin-bottom: 20px;
}

.status-tab button {
  width: calc(100% / 4);
  background-color: transparent;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 1px;
  color: var(--black-1, #4b4d52);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  border-right: 1px solid #a9aeb8;
}

button.active-tab {
  color: #000;
  background: #e1e4eb;
  border: none;
}
.last-tab {
  border: none;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  column-gap: 30px;
  align-items: center;
  font-size: 16px;
  background-color: #ffffff;
  padding: 10px 0px;
}

.pagination div:first-child select {
  border: none;
  background: transparent;
  font-size: 16px;
  padding: 0px 5px;
}
.arr-btn {
  column-gap: 10px;
}
.arr-btn button {
  border: none;
  background: transparent;
  /* padding: 5px 10px; */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 18px;
  transition: all 0.1s ease;
  /* opacity: 0.5; */
}
.arr-btn button:hover {
  background: #ced0d6;
  cursor: pointer;
}
.arr-btn button.inactive {
  opacity: 0.5;
}
.arr-btn button.inactive:hover {
  background: none;
}
.flex {
  display: flex;
  justify-content: space-between;
}

.approved,
.pending,
.rejected {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 100%;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  border: none;
}
.approved {
  background: #30e0a8;
}
.pending {
  background: var(--yellow, #f2c94c);
}
.rejected {
  background: var(--red, #eb5757);
}
.dots-icon {
  display: flex;
}
.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 20;
  /* background-color: red; */
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 0)
  );
}
.inputs {
  display: flex;
  column-gap: 10px;
  line-height: 0;
}
.inputs p {
  color: #4b4d52;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.table-skeleton {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  height: 150px;
}
.table-skeleton p {
  font-size: 16px;
  color: #4b4d52;
  font-weight: lighter;
}
.table-skeleton button {
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #30e0a8;
  color: #fff;
  border: none;
  transition: all 0.3s ease;
  font-size: 18px;
}
.table-skeleton button:hover {
  opacity: 0.6;
}
@media (max-width: 720px) {
  .approved,
  .pending,
  .rejected {
    padding: 8px;
    font-size: 12px;
  }

  .thead {
    padding: 10px;
    font-size: 14px;
  }
}
