:root {
  --textColor: #4b4d52;
  --white: #ffffff;
  --activeBg: #f2f2f2;
  --black-1: #4b4d52;
}

.list-container {
  border-radius: 20px;
  background: #fff;
  padding: 20px;
  width: 250px;
  transition: all 0.5s ease;
}
.list-container ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.list-container ul li {
  list-style-type: none;
  width: 100%;
  /* overflow: hidden; */
}
.list-container ul li a {
  display: flex;
  width: 200px;
  padding: 10px 0px 10px 25px;
  text-decoration: none;
  color: var(--black-1);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 48px; */
}
.list-container ul li a.active {
  background-color: var(--activeBg);
  border-left: 3px solid #16956c;
}
.list-container ul li a:hover {
  background-color: var(--activeBg);
}
.signOut a {
  color: #d01f58 !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  /* line-height: 48px !important; */
}
.add-question {
  margin: 90px 30px 30px 30px;
  border-radius: 20px;
  height: 176px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 14px;
  text-align: center;
  /* background-color: red; */
  background: #f2f2f2;
}
.book-img {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.text {
  color: #4b4d52;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
button.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin: 0 auto;
  /* margin-bottom: 50px; */
  padding: 13px 30px;
  border-radius: 31px;
  column-gap: 8px;
  border: none;
  background: #16956c;
  transition: all 0.1s ease-in;
}
button.add-btn:hover {
  background: #30e0a8;
  cursor: pointer;
}
button.add-btn span {
  color: var(--white, #fff);
  text-align: center;
  font-family: Proxima Nova;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.list-container.sticky {
  position: fixed;
  top: 90px;
  height: 70vh;
  border-radius: 0;
  z-index: 10;
  /* overflow-y: scroll; */
  padding-bottom: 200px;
}
.modal-container {
  padding-bottom: 30px;
}
.modal-header {
  align-items: center;
}
.modal-header h5 {
  color: #16956c;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 39.765px; */
}
.modal-header img {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.search-bar {
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 30px;
}
.search-bar input {
  width: 100%;
  padding: 15px 30px;
  border-radius: 100px;
  background: #fff;
  color: #727479;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  border: none;
}
.search-bar input:focus {
  border: 1px solid #16956c;
  outline: none;
}
.search-icon {
  width: 25px;
  height: 25px;
  overflow: hidden;
  position: absolute;
  right: 34px;
  top: 15px;
  cursor: pointer;
}
.search-icon img {
  width: 100%;
  height: 100%;
}

.added-subjects {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
  row-gap: 10px;
}
button.subject {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px 30px; */
  padding: 13px 25.784px;
  column-gap: 5px;
  border-radius: 42.973px;
  background: #16956c;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 8.594594955444336px 0px rgba(0, 0, 0, 0.1);
}
button.subject span {
  color: #fff;
  font-size: 15.47px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.suggestions {
  margin-top: 20px;
}
.suggestions button.subject {
  border-radius: 41.135px;
  background: #fff;
  box-shadow: 0px 0px 8.226949691772461px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.suggestions button.subject:hover {
  background-color: #16956c;
}
.suggestions button.subject:hover span {
  color: #fff;
}

.suggestions button.subject span {
  font-size: 14.809px;
  font-style: normal;
  font-weight: 600;
  color: #4b4d52;
  line-height: normal;
}

.btn-done {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: var(--white, #fff);
  text-align: center;
  font-size: 19.882px;
  font-weight: 700;
  width: 100%;
  border: none;
  border-radius: 7.445px;
  background: #16956c;
  margin-top: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-done:hover {
  background-color: #30e0a8;
}
p.warning {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  display: block;
  font-style: italic;
  color: red;
}
@media (max-width: 1200px) {
  .list-container ul li a {
    font-size: 20px;
  }
}
/* @media (max-width: 1157px) {
.list-container{
  display: none;
}  

} */
