.footer {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  padding: 20px;
  background: #F2F2F2;
  margin-top: 50px;
  position: relative;
  z-index: 30;
}
